/*
Original design: 1024px (v3.1 - Sep 11, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/1024px/
*/

/* General tags */
body {background-color:black; color:#404040; font:85%; font-family: 'Droid Sans', sans-serif; line-height:1.3em; margin:0 auto; padding:0;}
a {color:#43443c; font-weight:700; text-decoration:none;}
a:hover {color:#f14e32;}
a img {border:0;}
p {margin:0 0 18px 0;}
ul,ol,dl {font-size:0.9em; margin:2px 0 16px 35px;}
ul ul,ol ol {margin:4px 0 4px 35px;}
blockquote {border:1px solid #dadada; font-size:0.9em; margin:20px 10px; padding:8px;}
blockquote p {margin:0;}

spaced {word-spacing: 1em;}
/*
h1 {border-bottom:2px solid #dadada; color:#f14e32; font-size:2em; letter-spacing:-3px; margin:0 0 15px 10px;  padding:0 2px 10px 5px;}
*/
/* Headers */
h1 {color:#f14e32; font-size:2em; letter-spacing:-3px; margin:0 0 15px 10px;  padding:0 2px 10px 5px;}
h1 a {color:##D00000; text-transform:none;}
h2 {color:#43443c; font-size:1.8em; line-height:1.4em;letter-spacing:-1px;}
h3 {border-bottom:2px solid #dadada; font-size:1.2em; font-weight:700}
h3head {color:#404040; font-size:1.2em; font-weight:700;}

h1ul {border-bottom:2px solid #dadada; color:#f14e32; font-size:2em; letter-spacing:-3px; margin:0 0 15px 10px;  padding:0 2px 10px 5px;}

date {color:gray; font-size:0.9em; line-height:0.1em; margin: 0px 0px; padding: -10px -10px}


hr {2px solid #dadada; color:#f14e32;}

#outer {color:#43443c; margin:0; padding:0; width:100vw; background-color:#ffffff}

/* Main wrap */
#wrap {color:#43443c;; margin:auto auto; padding:10px 100px; width:700px; background-color:#ffffff}
content {font-family:'Droid Serif', serif; line-height:1.3em;font-size:1.2em}
content p {margin:0px 0px 2em 0px; }
#contentalt {color:#43443c;; margin:auto auto; padding:10px 100px; width:700px; background-color:#ffffff}
#header {margin:0;}
#toplinks {font-size:0.9em; padding:5px 2px 2px 3px; text-align:right;}
#toplinks a {color:gray;}
#slogan {color:gray; font-size:1.5em; font-weight:700; letter-spacing:-1px; line-height:1.2em; margin:15px 0 20px 35px;}

/* Sidebar and menu */
#sidebar {float:left; line-height:1.4em; margin:0 0 5px; padding:1px 0 0; width:195px;}
#sidebar ul {font-size:0.9em; list-style:none; margin:0; padding:0 0 15px 10px;}
#sidebar li {list-style:none; margin:0 0 4px; padding:0;}
#sidebar li a {font-size:1em; font-weight:700; padding:2px;}
#sidebar ul ul {line-height:1.2em; margin:4px 0 3px 15px; padding:0;}
#sidebar ul ul li a {font-weight:400;}
#sidebar h2 {margin:3px 0 8px;}

/* Main content */
#content {float:right; line-height:1.5em; margin:0 0; padding:0; text-align:left; width:750px;}





/*
//Boxed text
#boxedText {
float: left;
position: relative;
width: 500px;
height: 500px;
background: #44accf;
clear:both;
}

//Boxed image 
#boxedImage {
float:left;
position: relative;
top: -10px;
left: 500px;
width: 190px;
height: 140px;
background: #44accf;
clear:both;
}
*/
/*Clear*/




/* Footer */

#footer {clear:both; margin:auto auto; padding:10px 100px; width:700px;color:gray; font-size:0.9em; line-height:1.6em; margin:0 auto; padding:8px 0;}
#footer p {margin:0; padding:0;}
#footer a {color:#808080;}
#footer a:hover {color:#f14e32;}


/* Additional classes */
.box {background:#4088b8; border:1px solid #c8c8c8; color:#fff; font-size:0.9em; line-height:1.4em; padding:10px 10px 10px 13px;}
.box a {color:#f0f0f0;}
.left {float:left; margin:0 15px 4px 0;}
.right {float:right; margin:0 0 4px 15px;}
.readmore {margin:-10px 10px 12px 0; text-align:right;}
.timestamp {font-size:1.2em; margin:-5px 0 15px 10px;}
.timestamp a {font-weight:normal;}
.blue {color:#4088b8;}
.clear {clear:both;}
.fade {color:#c8c8c8;}
.gray {color:gray;}
.photo {background:#fff; border:1px solid #bababa; margin:6px 18px 2px 5px; padding:2px;}